*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider-wrapper{
    position: relative;
}
.slider-wrapper .slide-button{
    position: absolute;
    top: 40%;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    color: var(--third-color);
    background-color: #444;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover{
    background-color: #6b6b6b;
}
.slider-wrapper .slide-button#prev_slide{
    left: 10px;
    display: none;
}
.slider-wrapper .slide-button#next_slide{
    right: 10px;
}
.slider-wrapper .card-list{
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
    margin-bottom: 30px;
}
.slider-wrapper .card-list::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .card-list .flex_col{
    width: 250px;
    height:auto;
    object-fit: cover;
}
.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    align-items: center;
}
.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}
.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color:var(--primary-color);
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
