/* laptop view */


.section1 .body{
    margin: 10px 100px;
}
.section1 .body .image,.section1 .body .text{
    flex: 1;
}
.section1 .body .image{
    flex-grow: 1;
}
.section1 .body .text{
    flex-grow: 2;
    padding-left: 30px;
    align-self: center;
}
.section1 .body .text h1{
    font-size: 60px;
    font-weight: bold;
}
.section1 .body .text p{
    font-size: 30px;
}
.section1 .body .text button{
    padding: 20px;
    font-size: 20px;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: .2s;
}
.section1 .body .text button > i{
    color: var(--primary-color);
    padding-left: 10px;
}
.section1 .body .text button:hover{
    border: 2px solid var(--primary-color);
}

/* section2 */
.section2{
    background-color: var(--third-color);
}
.section2 .fast_icons_list{
    margin: 20px 100px;
    gap: 10px;
    justify-content: space-around;
}
.section2 .fast_icons{
    justify-content: flex-start;
}
.section2 .fast_icons > img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}
.section2 .new_arrival{
    margin: 20px 100px;
    padding: 30px 0px;
}
.section2 .new_arrival h1{
    margin: 10px 0px;
}
.section2 .new_arrival .new_arrival_list{
    gap: 20px;
}
/* add new arrival CSS */

/* end of new arrival */
.section2 .ready2Wear{
    margin: 100px;
}
.section2 .ready2Wear h1{
    margin: 10px 0px;
}
.section2 .ready2Wear .ready2Wear_item{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    font-size: 35px;
    font-weight: bold;
    color: var(--third-color);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.section2 .ready2Wear .ready2Wear_item .men{
    grid-row: span 2;
    background-image: url(../images/portrait-young-handsome-male.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
}
.section2 .ready2Wear .ready2Wear_item .women{
    background-image: url(/images/woman-with-shopping-bags-isolated.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}
.section2 .ready2Wear .ready2Wear_item .accessories{
    background-image: url(/images/young-pretty-woman-walking-street-fashionable-outfit-holding-purse-wearing-black-leather-jacket-white-lace-dress-spring-autumn-style-warm-sunny-weather-romantic-look.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    height: 250px;
}
.section2 .ready2Wear .ready2Wear_item .sport_wear{
    grid-column: span 2;
    background-image: url(/images/low-angle-shot-athletic-team-walking-outdoors-after-joint-workout.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
/* ****** */
.section2 .follow_us{
    margin: 50px 100px;
    text-align: center;
}
.section2 .follow_us >p{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
.section2 .follow_us .image{
    gap: 20px;
}
.section2 .follow_us .image >div{
    flex: 1;
}
.section2 .follow_us .image div > img{
    width: 100%;
    height: 80%;
}

/* ******************* */
/* tablet view */
@media (min-width:768px) and (max-width:1000px){
    .section2 .fast_icons_list .fast_icons{
        display: flex;
        flex-direction: column;
    }
}
/* *************** */


/* phone view */
@media (max-width:767px) and (min-width:320px)
{
    .section1 .body{
        margin: 0px 50px;
        padding: 0px;
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }
    .section1 .body .text{
        padding-bottom: 30px;
        padding: 0px;
        font-size: 16px;
    }
    .section1 .body .text > h1{
        font-size: 35px;    
    }
    .section1 .body .text a > button{
        padding: 5px;
        margin: 10px 0px;
    }
    .section2 .fast_icons_list{
        display: flex;
        flex-direction: column;
    }
    .section2 .fast_icons_list .fast_icons{
        display: flex;
        flex-direction: column;
    }
    .section2 .new_arrival{
        margin: 20px 0px;
        padding: 30px 0px;
    }
    .section2 .new_arrival >h1{
        padding-left: 50px;
        font-size: 25px;
    }
    .section2 .ready2Wear{
        margin: 20px 50px;
    }
    .section2 .ready2Wear >h1{
        font-size: 25px;
    }
    .section2 .ready2Wear .ready2Wear_item{
        display: flex;
        flex-direction: column;
    }
    .section2 .ready2Wear .ready2Wear_item > div{
        width: 100%;
        background-size: auto;
        font-size: 25px;
    }
    .section2 .ready2Wear .ready2Wear_item .men,.section2 .ready2Wear .ready2Wear_item .sport_wear{
        height: 280px;
    }
    .section2 .follow_us{
        margin: 50px 0px;
        text-align: center;
    }
    .section2 .follow_us .image{
        display: flex;
        flex-direction: column;
    }


}
/* *************** */